body {
    background: linear-gradient(
        #9630d1,
        #11344260,
        #6addd4
    );
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixa o gradiente na tela inteira */
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

.acessar_sistema {
    margin-top: 210px;
}

.login {
        border: 0.1px solid rgba(225, 225, 225, 0.5);
        border-radius: 15px;
        padding: 20px;
        margin-left: 750px;
        border-width: 0.5px;
        width: 20%;
        margin-top: 100px;
        height: 250px;   
        background: linear-gradient(
        #ccb0dd,
        #d87fee,
        #a9dae2
    );
}

#usuario,
#senha,
#botao {

    padding: 20px;
    border-style: solid;
    border-radius: 15px;
}

.label {
    font-size: x-large ;
}

#usuario {
    margin: 20px;
}

#senha {
    margin: 20px;
}

#botao {
    background: linear-gradient(
        #e77fbc,
        #d195e0,
        #e9dbf1
    );
}
#botao:hover {
        cursor: pointer;
}

.vendas {
    text-align: left;
    border: 1px;
    padding: 20px;
} 

.produto{
padding: 20px;

}

.seleçao{
    padding: 5px;
    margin-left: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.Valor{
    padding: 20px;
    
}

#cadastrar {
    padding: 5px;
    margin-left: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.tabela {
    padding: 5px;
    margin-left: 20px;
    border-radius: 15px;
    border-color: black;
}